<a href="https://colab.research.google.com/github/rulethet/class2021spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1, 2, 3, 4]
for i in a:
    print(i)                       # : 다음 엔터, for 아래 print 앞에 공백 필요. 
                                   # for은 여러번 반복. i가 a의 첫번째 것을 담아서 실행

1
2
3
4

In [12]:
# 연습

k = [3, 5]
for p in k:
  print(p)

3
5

In [2]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])                             # 1. 리스트를 바로 a에 적는 방법
                                            # 2. range를 해서 돌리는 방법

1
2
3
4

In [13]:
# 연습

for i in range(3):
  print(i)                                  # range(3)은 0, 1, 2 총 세 개를 만듦. 0, 1, 2를 만들어서 i에 집어넣음.

0
1
2

In [15]:
# 연습
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [16]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [17]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [5]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [6]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [7]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [8]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [9]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [10]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [11]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']