<a href="https://colab.research.google.com/github/rulethet/class2021spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
a = 1; print(type(a))                                         #한 줄로 잇는 것도 가능하고, 여러 줄로 하는 것도 가능

<class 'int'>

In [25]:
a = 1
print(a)
b = 2
print(b)
c = 3
print(c)                                                      # 'print'를 사용하지 않아도 되지만, 여러가지를 한꺼번에 실행할 때 사용할 수 있음

1
2
3

In [26]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [27]:
a = 1.2; a = int(a); print(type(a))
print(a)                                                       #print의 결과값은 1. int가 되도록 강제로 반올림함

<class 'int'>
1

In [28]:
a = '123'; print(type(a)); print(a[1])                         #a[0]은 a의 첫번째를 의미. a[1]은 두 번째.

<class 'str'>
2

In [29]:
a = 'korea'; print(a[0]); print(a[4])

k
a

In [30]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [31]:
a = '123'; print(type(a)); a = list(a); print(type(a))

<class 'str'>
<class 'list'>

In [32]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])     

#숫자, 문자, list 등 다른 종류의 타입도 가능. listing이 되면 됨. list 안에 list를 넣을 수도 있음

<class 'list'>
1
2
[3, '4']

In [33]:
a = [1, 2, 3]
a[0] = -1
a

[-1, 2, 3]

In [34]:
a = (1, 2, 3)
a[0] = -1
a                                                                      #list와 달리 tuple은 바꿀 수 없음

TypeError: ignored

In [35]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [36]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])                                              #'dict'는 순서가 없음 ""와 ''가 모두 가능

<class 'dict'>
apple

In [37]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
a["c"]

<class 'dict'>

2014

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]